<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style/css.css') }}">
	</head>
	<body>
        {# head start#}
        <div id="head">
            <ul>
                <li><a href="#">首页</a></li>
                <li><a href="#">养生新闻</a></li>
                <li><a href="#">人群养生</a></li>
                <li><a href="#">两性养生</a></li>
                <li><a href="#">生活养生</a></li>
                <li><a href="#">饮食养生</a></li>
                <li><a href="#">中医养生</a></li>
            </ul>
        </div>
        <div class="cl_btoh"></div>
 
        {#  main start  #}
        <div id="main">
            <h2>这是index_one页面主体部分</h2>
        </div>
 
        {#  footer start  #}
        <div id="footer">
            <h4>网站底部内容</h4>
        </div>
	</body>
</html>